@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.soft-shadow {
  box-shadow: 0px 29px 39px -25px rgba(230, 230, 230, 0.47);
  -webkit-box-shadow: 0px 29px 39px -25px rgba(230, 230, 230, 0.47);
  -moz-box-shadow: 0px 29px 39px -25px rgba(230, 230, 230, 0.47);
}
* {
  font-family: "Roboto", "sans-serif";
}
